.modal_container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal{
    background-color: rgb(234, 227, 162);
    width: 40vw;
    height: 70vh;
    max-width: 90%;
    padding: 10px 50px;
    border-radius: 10px;
    position: relative;
  }

  .close_popup{
    margin: 5px 0px 0px 5px;
    padding: 0px;
    float: right;
    //position: absolute;
    color: red;
    font-size:xx-large;
    background: none;
    border: none;
    //border: 1px solid gainsboro;
    //outline: none;
    cursor: pointer;
  }