.close_viewModal{
    margin: 5px 0px 0px 240px;
    padding: 0px;
    
    //position: absolute;
    color: red;
    font-size:xx-large;
    background: none;
    border: none;
    //border: 1px solid gainsboro;
    //outline: none;
    cursor: pointer;
  }